%h2 Contact us

%h3= link_to "Feedback Forum", "https://getsatisfaction.com/gaytravelbuddy"
%p 
  Visit us at our <a href="https://getsatisfaction.com/gaytravelbuddy">Feedback Forum</a> to share your ideas, questions, praises, and the things you hate or don't understand.
  
%h3 Social Media
%p
  = link_to "Facebook", "https://www.facebook.com/GayTravelBuddy"
  %br
  = link_to "Twitter", "https://twitter.com/#!/gaytraveladvice"

%h3 Email
%p 
  Contact us at these emails: 
  Have something to complain about? Email us at <a href="mailto:ihavetobitch@gaytravelbuddy.com">ihavetobitch@gaytravelbuddy.com</a>
  Want to tell us what we're doing right? Tell us at <a href="mailto:weloveyou@gaytravelbuddy.com">weloveyou@gaytravelbuddy.com</a>
  Have a question about the site? We're here to help at <a href="mailto:icantfigureitout@gaytravelbuddy.com">icantfigureitout@gaytravelbuddy.com</a>

%h3 Phone

%h4 Company Phone: 
%p 702.800.7450

%h4 Jason Dorn (CEO)
%p Direct: 415.408.7845

%h4 Anna Peirano
%p Direct: 707.338.9739

%h3 Address
%p
  4142 Larkwood Ave
  %br
  LV, NV 89103
  
