%h2 Privacy Policy
%p
  The GayTravelBuddy Privacy Policy may be found below. Your use of the GayTravelBuddy Site and services constitutes your acceptance of the terms and conditions of the GayTravelBuddy Privacy Policy, of our recently updated User Agreement and of the GayTravelBuddy Community Guidelines. You are responsible for reviewing and becoming familiar with all of these terms.
  GayTravelBuddy Privacy Policy: GT Buddies Inc. has created this privacy policy because we value our members and recognize their right to keep personal information private. This statement discloses our information gathering and dissemination practices for the World Wide Web site located at www.GayTravelBuddy.com (the "GayTravelBuddy" site). We believe very strongly that private information should remain private. We'd like to hear your feedback about this statement. If you have comments or questions, please Contact Us. Except as otherwise expressly discussed in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. To the extent that you disclose your information to other parties, whether they are other members of the Site or other sites throughout the Internet, different rules may apply to their use or disclosure of the personal information you disclose to them.
%h3
  GayTravelBuddy GATHERS THE FOLLOWING INFORMATION:

%h3
  Cookies  
%p
  Our Web site sets cookies to administer our site, to gather broad demographic information, to deliver content requested by you or specific to your interests, to customize our Web site for you, and to save your username and city so that you don't have to enter it each time you visit.
%p
  A cookie is a small line of data that is stored on your hard drive. Some cookies are only stored for the duration of a single browser session; others persist across sessions. We only save your password and member name if you tell us to do so; your password is encrypted, stored on your computer and transferred over the Internet in an encrypted format. Keep in mind that anyone using your Web browser would be able to access the GayTravelBuddy  site as you if you choose to store your member name and password. GayTravelBuddy’s Web servers also set session ID cookies that are used to allow our servers to deliver information you request (e.g., search results). Members who do not want to receive cookies can instruct their Web browsers to refuse them; however, doing so may prevent most parts of GayTravelBuddy’s site from working (e.g., anything that requires login, including member chat, etc). While cookies set by GayTravelBuddy may be used to collect personally identifiable information and can be traced to an individual user, this personally identifiable information is used only for internal purposes.

%h3 Registration Form  
%p
  Membership on the GayTravelBuddy site is completely optional. GayTravelBuddy’s registration form requires users to give their email address. On our join form, required fields are marked. GayTravelBuddy will never share e-mail addresses with third party organizations without your express permission.

%h3 Control of Your Password: 
%p
  Do not disclose your password to any third parties nor share it with any third parties. If you lose control of your password, you may lose control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately change your password. To change your password you can do so at any time through the MY ACCOUNT page then click on change password. 

%h3 Order Forms  
%p
  When purchasing products or services on the GayTravelBuddy site, you're asked for credit card, billing, and shipping information. This information is transmitted using a secure, encrypted form. You can see that the transaction is secure from the fact that the URL begins with the secure address https:// and we ensure encryption through the use of standard SSL encryption technologies.
This credit card information is gathered to bill customers for services purchased. Only billing vendors have access to financial information and only for the purpose of billing customers. At times GayTravelBuddy may refer users to other Web sites to purchase products or services. User activity on those sites is covered by the privacy policies on those sites.

%h3 Community Tools  
%p 
  GayTravelBuddy provides many venues for member interaction and community. In some cases use of such tools (e.g., member chat) may reveal a user's member name or e-mail address and may permit users to publish certain personal information on the GayTravelBuddy site. In all cases, users affirmatively choose to expose or place this information in public areas (e.g. profile page) of the GayTravelBuddy site, and thereby agree that such information may be viewed by or forwarded to anyone. Users who do not want this information to be publicly available should not post in public areas of the GayTravelBuddy site.


%h3 GayTravelBuddy Profiles 
%p 
  GayTravelBuddy permits users to submit personal information for use in the GayTravelBuddy Profile. This information is also stored for the purposes of member self-publishing and interaction and to customize the user's GayTravelBuddy site experience. By registering for GayTravelBuddy Profiles and submitting your user information, you understand that the information provided in the profile, including your photograph, may be forwarded by members to other members and to persons who are not members. GayTravelBuddy will not knowingly collect Profile information from those under the age of 18.

%h3 Member Feedback  
%p 
  GayTravelBuddy stores feedback members send to us. This feedback is used to administer and refine the GayTravelBuddy site and associated services and at times may be shared with GayTravelBuddy partners either in aggregate form or individually with specific identifying characteristics about the Member (e.g., e-mail address or name) removed.

%h3 IP Addresses  
%p 
  GayTravelBuddy tracks individual IP addresses to help diagnose problems with our service, to administer our site and to gather broad demographic information. User IP address information is used only for our internal purposes.


%h3 ADDITIONAL DISCLOSURE SCENARIOS  
%p 
  Notwithstanding anything else in this policy, GayTravelBuddy may also disclose personal and aggregate information when required by a valid legal mechanism such as a search warrant, subpoena, or court order, or when we deem it necessary, in our sole discretion, to protect our rights and the safety of others, or our members, employees, or properties.
%p 
  GayTravelBuddy believes that members' private communications in chat rooms, e-mail, and instant message-like conversations should generally remain confidential. GayTravelBuddy does not disclose private communications unless ordered to do so through a valid legal mechanism such as a search warrant, subpoena, or court order, to protect the company's rights and property, or during emergencies when we believe safety is at risk. Please remember that what you write or post in public areas such as chat rooms and message boards is available to all GayTravelBuddy members, and in many cases other visitors to the GayTravelBuddy site. Also keep in mind that GayTravelBuddyis not responsible for what other users may do with private communications you've had with them. While chat and instant message-like conversations pass through GayTravelBuddy’s servers, we do not store logs of these conversations.
%p
  GayTravelBuddy reserves the right to share some or all of your personal information with its parent company, subsidiaries, joint ventures or other companies under common control with GayTravelBuddy, in which case GayTravelBuddy will require such entities to honor this privacy policy. If GayTravelBuddy is acquired by another company, that company will obtain the member information collected by GayTravelBuddy and will assume the rights and obligations set forth in this privacy policy regarding that information.

%h3 OFF-SITE LINKS  
%p  
  GayTravelBuddy provides links to other sites. GayTravelBuddy is not responsible for the privacy practices or contents of these other sites.

%h3 OPT-OUT  
%p 
  Our site provides users the opportunity upon registration to opt out of receiving communications from us and from our partners, affiliates, and advertisers. These options are available during registration, and through the notification setting on the my account page. Please note that even if you have chosen to opt out of receiving communications from us, we reserve the right to contact you by e-mail about material changes to this privacy policy or the GayTravelBuddy User Agreement.

%h3 DELETE/DEACTIVATE INFORMATION  
%p 
  GayTravelBuddy gives users the following options for removing their information from our database: 1. Towards the bottom of the MY ACCOUNT page click on the Delete Account link and follow the instruction provided. 2. You can send e-mail to support@GayTravelBuddy.com Please be sure to include your name, username, and e-mail address.

%h3 CHANGE/MODIFY INFORMATION  
%p
  GayTravelBuddy gives users the following options for changing or modifying information previously provided: In the MY ACCOUNT page user info can be changed in the "Edit My Profile" page and photos can be uploaded or deleted in the "Upload My Photo" page.

%h3 Changes to Policy 
%p
  We may update this policy from time to time. If we make any significant changes to the way in which we treat your personal information, we will inform you of such changes via e-mail or by posting a notice on the GayTravelBuddy site. If you have any questions about this privacy policy, please feel free to contact us.

%h3 CONTACTING US  
%p
  If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, please feel free to contact us <a href="mailto:support@gaytravelbuddy.com">here</a>. 

