- content_for :page_title do
  = @article.try(:title)

= render "magazine/articles/article", :article => @article
- if magazine_conf.include_comments
  - if current_user
    = render "magazine/comments/form"
  #comments
    = render :partial => "magazine/comments/comment", :collection => @article.comments

