%html
  %head
  %body
    %form{:action => '/', :id => 'login', :method => 'get'}
      %label{:for => 'diaspora_id'}
        Diaspora ID
      %input{:type=>'text', :id => 'diaspora_id', :name => 'diaspora_id'}
      %input{:type => 'submit', :value => "Connect to Diaspora" }

    .home_ad
      :javascript
        google_ad_client = "ca-pub-0516633517886131";
        / gtb side bar /
        google_ad_slot = "4940211615";
        google_ad_width = 300;
        google_ad_height = 250;
